body{
  background-color:black;
  font-family: "Helvetica", sans-serif;
  color: seashell;
  text-align: center;
  opacity: 0.9;
  font-size: 22px;
}
header{
  border-bottom: 1px solid seashell;
  align-items: center;
  height: 69px;
}
header img{
  height: 50px;
  padding-left: 10px;
}
header a{
  color:seashell;
  padding:20px 10px;
  font-size:22px;
}
header-span{
  display:inline-block;
}
nav{
  text-align:right;
  flex-grow:1;
  justify-content: center;
  display:block;
}
.container{
  display:flex;
}
nav span{
  display: inline-block;
}
