body{
  background-color:black;
  font-family: "Helvetica", sans-serif;
  color: seashell;
  text-align: center;
  opacity: 0.9;
  font-size: 22px;
  margin: auto;
}
header{
  border-bottom: 1px solid seashell;
  align-items: center;
  height: 69px;
}
header img{
  height: 50px;
  padding-left: 10px;
}
header a{
  color:seashell;
  padding:20px 10px;
  font-size:22px;
}
header-span{
  display:inline-block;
}
nav{
  text-align:right;
  flex-grow:1;
  justify-content: center;
  display:block;
}
.headercontainer{
  display:flex;
}
nav span{
  display: inline-block;
}
.maintitle{
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
  height:700px;
  width:1200px;
  margin: auto;
  display:flex;
  padding-top:70px;
}
.maincontext{
  background-color: black;
  margin:auto;
  width: 100%;
  height: 103px;
  align-items: center;
}
h2{
  padding:10px;
  margin: 0;
}
h4{
  margin:0;
  padding:10px;
}

